{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Babylon Administration{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
{% endblock %}

{% block content %}
<h2>Admin Login</h2>
{{util.flashed_messages(dismissible=True)}}
<form method="POST" action="/admin/login">
Password: <input name="password" type="password">
</form>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
