{% import "bootstrap/utils.html" as util %}

{% include "header.html" %}

{% block content %}
{% include "topnav.html" %}

{{util.flashed_messages(dismissible=True)}}

{%   for resource_claim in resource_claims %}
<div class="container">
{#     So many variables... all to protect jinja evaluation from undefined dictionary keys #}
{%     set resource_claim_annotations = resource_claim.metadata.annotations | default({}) %}
{%     set resource_claim_display_name = resource_claim_annotations.displayName | default(resource_claim.metadata.name) %}
{%     set resource_claim_description = resource_claim_annotations.description | default('') %}

{%     set resource_claim_status = resource_claim.status | default({}) %}
{%     set resource_claim_status_resources = resource_claim_status.resources | default([]) %}
<h2>{{ resource_claim_display_name }}</h2>
{%     if resource_claim_description %}
<p>{{ resource_claim_description }}</p>
{%     endif %}
{%     for resource in resource_claim.spec.resources %}
{%       set resource_status = resource_claim_status_resources[loop.index0] | default({}) %}
{%       set resource_state = resource_status.state | default({}) %}
{%       set resource_state_spec = resource_state.spec | default({}) %}
{%       set status_vars = resource_state_spec.vars | default({}) %}
{%       set status_job_vars = status_vars.job_vars | default({}) %}
{%       set template_vars = resource.template.spec.vars | default({}) %}
<p>GUID: {{ status_job_vars.guid | default('UNKNOWN') }}</p>
<p>Desired state: {{ template_vars.desired_state | default('UNKNOWN') }}</p>
<p>Current state: {{ status_vars.current_state | default('UNKNOWN') }}</p>
{%     endfor %}
</div>
{%   endfor %}
{% endblock %}
