<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-icon" src="{{ url_for('static', filename='logo-alt.svg') }}" alt=""/><img class="navbar-brand-name" src="{{ url_for('static', filename='brand-alt.svg') }}" alt="Event Console" />
    </a>
  </div>
  <!-- I don't know how to do this with patternfly... -->
  <div style="position: absolute; right: 5pt; top: 5pt"><a href="/admin" style="color: white; font-size: 14pt">admin</a></div>
</nav>
