{% import "bootstrap/utils.html" as util %}

{% include "header.html" %}

{% block content %}
{% include "topnav.html" %}
<div class="container">

<h1>Admin</h1>
<p><a href="/admin/logout">logout</a></p>
{{util.flashed_messages(dismissible=True)}}

<h2>Lab Environments</h2>
<table>
<tr>
<th></th>
<th style="padding: 1pt 5pt">Name</th>
<th style="padding: 1pt 5pt">User</th>
<th style="padding: 1pt 0">Action</th>
</tr>
{%   for lab_environment in lab_environments %}
{%     set config_map = lab_environment.config_map %}
<tr style="background-color: {% if 0 == loop.index % 2 %}#fff{% else %}#ddd{% endif %}">
<td style="padding: 1pt 5pt">{{ loop.index }}</td>
<td style="padding: 1pt 5pt">
{% if lab_environment.lab_url %}
<a href="{{ lab_environment.lab_url }}" target="_blank">{{ config_map.metadata.name }}</a>
{% else %}
{{ config_map.metadata.name }}
{% endif %}
</td>
<td style="padding: 1pt 5pt">{{ lab_environment.owner | default('unowned', True) }}</td>
<td style="padding: 0">
<button data-toggle="collapse" data-target="#config-{{loop.index}}">Details</button>
<form style="display: inline"
  method="POST"
  action="/admin/unbind/{{ config_map.metadata.name }}"
  onsubmit="return confirm('Confirm unbind {{ config_map.metadata.name }}?')">
<button type="submit" {% if not config_map.metadata.labels['beui.gpte.redhat.com/session-id'] %}disabled style="color: #777"{% endif %}>Unbind</button>
</form>
{%   if catalog_template_name == '' %}
<form style="display: inline"
  method="POST"
  action="/admin/configmap/delete/{{ config_map.metadata.name }}"
  onsubmit="return confirm('Confirm delete {{ config_map.metadata.name }}?')">
<button type="submit">Delete</button>
</form>
{%   endif %}
</td>
</tr>
<tr style="background-color: {% if 0 == loop.index % 2 %}#fff{% else %}#ddd{% endif %}">
<td></td>
<td colspan="3">
<pre id="config-{{loop.index}}" class="collapse">{{ config_map.data | to_nice_yaml }}</pre>
</td>
</tr>
{%   endfor %}
</table>

{%   if catalog_template_name == '' %}
<h2>Upload Lab Info</h2>
<p>Upload CSV format, first row will be processed as variable names.</p>
<form method="POST" action="/admin/upload" enctype="multipart/form-data">
<input type="file" name="upload">
<input type="submit">
</form>
{%   else %}
<h2>Provisioned Infrastructure</h2>
<table>
<tr>
<th></th>
<th style="padding: 1pt 5pt">Claim</th>
<th style="padding: 1pt 5pt">Handle</th>
<th style="padding: 1pt 5pt">State</th>
<th style="padding: 1pt 0">Action</th>
</tr>
{%     for resource_claim in resource_claims %}
{#       So many variables... all to protect jinja evaluation from undefined dictionary keys #}
{%       set resource_claim_annotations = resource_claim.metadata.annotations | default({}) %}
{%       set resource_claim_labels = resource_claim.metadata.labels | default({}) %}
{%       set resource_claim_display_name = resource_claim_annotations.displayName | default(resource_claim.metadata.name) %}
{%       set resource_claim_status = resource_claim.status | default({}) %}
{%       set resource_handle = resource_claim_status.resourceHandle | default({}) %}
{%       set resource_handle_name = resource_handle.name | default('') %}
<tr style="background-color: {% if 0 == loop.index % 2 %}#fff{% else %}#ddd{% endif %}">
<td style="padding: 1pt 5pt">{{ loop.index }}</td>
<td style="padding: 0">{{ resource_claim_display_name }}</td>
<td style="padding: 1pt 5pt">{{ resource_handle_name }}</td>
<td style="padding: 1pt 5pt">
{%       if 'resources' in resource_claim_status %}
{%         for status_resource_item in resource_claim_status.resources | default([]) %}
{%           set resource_state = status_resource_item.state | default({}) %}
{%           set resource_state_meta = resource_state.metadata | default({}) %}
{%           set resource_state_spec = resource_state.spec | default({}) %}
{%           set resource_vars = resource_state_spec.vars | default({}) %}
{%           set resource_job_vars = resource_vars.job_vars | default({}) %}
{{ resource_state_meta.name | default('pending') }} {{ resource_vars.current_state | default('UNKNOWN') }}<br>
{%         endfor %}
{%       else %}
UNKNOWN
{%       endif %}
</td>
<td style="padding: 0">
<button data-toggle="collapse" data-target="#rc-details{{loop.index}}">Details</button>
{%       if catalog_template_quota != 0 %}
<form style="display: inline" method="POST" action="/admin/delete/{{ resource_claim.metadata.name }}" onsubmit="return confirm('Confirm delete {{ resource_claim.metadata.name }}?')">
<button type="submit">Delete</button>
</form>
{%       endif %}
</td>
</tr>
<tr style="background-color: {% if 0 == loop.index % 2 %}#fff{% else %}#ddd{% endif %}">
<td></td>
<td colspan="4">
<pre id="rc-details{{loop.index}}" class="collapse">{{ resource_claim | to_nice_yaml }}</pre>
</td>
</tr>
{%     endfor %}
</table>

{%     if catalog_template_quota != 0 %}
<form method="POST" action="/admin/create">
<button type="submit">Provision New Environment</button>
</form>
{%     endif %}
{%   endif %}

{%   if lab_env_preassignment %}
<h2>Assign Lab Environments by Email</h2>
<p>This merely assigns labs to email addresses for identity. No email will be sent. Paste user email list, one per line.</p>
<form method="POST" action="/admin/assignlabs">
<textarea class="form-control" name="emails"></textarea>
<input type="submit">
</form>
{%   endif %}

</div>
{% endblock %}
