{% import "bootstrap/utils.html" as util %}

{% include "header.html" %}

{% block content %}
{% include "topnav.html" %}

<div class="container">
<h1>Login</h1>

{{util.flashed_messages(dismissible=True)}}

{%   if login_failed | default(False) %}
<p>Login failed!</p>
{%   endif %}
{%   if invalid_session_id | default(False) %}
<p>Invalid session id.</p>
{%   endif %}
<form method="POST" action="/login">
<p>User ID: <input name="id" type="email" value="{{ session_id | default('') | escape }}" required></p>
{%   if password_required %}
<p>Password: <input name="password" type="password"></p>
{%   endif %}
<p>Please input a User ID in the form of an email address.
We will use this address only to cross reference with lists of registered attendees and to help us identify your lab session so we can help you with any trouble.
Your email will not be added to any distribution lists based on your participation in this lab.</p>
<p><button type="submit">Start Lab</button></p>
</form>
</div>
{% endblock %}
